:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  font-family: 'roboto', sans-serif;
  font-size: 16px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: var(--Dark-Slate-Grey);
  position: relative;
}


.container {
  width: min-content;
  background-color: var(--White);
  display: grid;
  grid-template-columns: 450px 400px;
  padding: 25px;
  border-radius: 35px;
  column-gap: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  z-index: 1;
}
/*
.js-container {
  display: none;
} 
*/
.container-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-left {
  width: 80%;
}

.headline {
  font-size: 55px;
  margin: 0px;
  font-weight: 700;
  line-height: 100%;
}
.subhead {
  margin: 30px 0px 40px 0px;
  line-height: 170%;
}

.checklist {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.checklist img {
  margin-right: 15px;
}
.email-div {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.email-div p {
  margin: 0px;
}
.email-input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--Grey);
  margin-bottom: 25px;
}
.email-p-error {
  color: var(--Tomato);
  display: none;
}
.button {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  background-color: var(--Dark-Slate-Grey);
  color: white;
}

.js-container-success{
  display: none;
}

.container-success {
  width: 380px;
  background-color: var(--White);
  padding: 55px;
  border-radius: 35px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  z-index: 1;
}
.subhead-extra{
  font-weight: 700;
}
.container-success img {
  margin-bottom: 40px;
}

.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 20px; color: var(--White)}
.attribution a { color: hsl(228, 45%, 44%); }